/Nameandage/nbproject/private/
/Shapes/nbproject/private/
/Shapes/build/
/AverageScore/nbproject/private/
/AverageScore/build/
/SecretWord/nbproject/private/
/SecretWord/build/
/LogicalAnd/nbproject/private/
/LogicalNot/nbproject/private/
/LogicalNot/build/
/MathTutor/nbproject/private/
/MathTutor/build/
/NoBreaks/nbproject/private/
/NoBreaks/build/
/ReadGrade/nbproject/private/
/ReadGrade/build/