/Nameandage/nbproject/private/
/Shapes/nbproject/private/
/Shapes/build/
/AverageScore/nbproject/private/
/AverageScore/build/
/SecretWord/nbproject/private/
/SecretWord/build/
/LogicalAnd/nbproject/private/
/LogicalNot/nbproject/private/
/LogicalNot/build/
/MathTutor/nbproject/private/
/MathTutor/build/
/NoBreaks/nbproject/private/
/NoBreaks/build/
/ReadGrade/nbproject/private/
/ReadGrade/build/
/WhileLoop/nbproject/private/
/WhileLoop/build/
/UserSquares/nbproject/private/
/UserSquares/build/
/RectangularPattern/nbproject/private/
/RectangularPattern/build/
/CircleArea/nbproject/private/
/CircleArea/build/
/Shapes/dist/
/SoccerPoints/nbproject/private/
/SoccerPoints/build/